header {
  height: 10rem;

  .logo {
    width: 14rem;
    height: 14rem;
    border-radius: 4rem;
    background-color: $primary;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 25%);
  }
}
