.nav {
  height: inherit;
  background-color: $background-two;

  &__desktop {
    display: flex;
    justify-content: space-between;
    margin: 0 5rem;
    align-items: center;
    gap: 3rem;

    height: 10rem;
    list-style: none;
  }

  &__left,
  &__right {
    display: flex;
    gap: 2rem;
  }

  &__mobile {
    &__hamburger-button {
      display: none;
    }

    &__btn {
      display: none;
    }
  }
}

//*** PHONE & TABLET ***//

@media only screen and (max-width: 1000px) {
  .nav {
    &__desktop {
      display: none;
    }

    &__mobile {
      height: inherit;
      position: relative;

      &__hamburger-button {
        display: block;
        position: absolute;
        background: none;
        height: 4.3rem;
        border: none;
        right: 5%;
        top: 50%;
        transform: translateY(-50%);
      }

      &__hamburger-mid-layer {
        width: 100vw;
        height: 100vh;
        position: fixed;
        background-color: black;
        opacity: 0.6;
        z-index: 1;
      }

      &__hamburger-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;

        position: fixed;
        width: 80vw;
        height: 70vh;
        margin: 0 auto;
        left: 0;
        right: 0;

        background-color: $background;
        transform: translateY(22.5%);
        z-index: 2;

        border-radius: 20px;
        box-shadow: 10px 15px 20px 5px rgba(0, 0, 0, 0.5);
      }

      //CAN'T FIGURE OUT WHY BUTTON WON'T DISPLAY ON _buttons.scss
      &__btn {
        display: block;
        min-height: 25%;

        background: none;
        border: none;
        cursor: pointer;
        box-shadow: 0px 26px 1px -24px $primary;

        &:last-child {
          box-shadow: none;
        }
      }
    }
  }
}
