.nav {
  height: inherit;

  &__desktop {
    display: flex;
    justify-content: space-between;
    margin: 0 5rem;
    align-items: center;
    gap: 3rem;

    height: 10rem;
    list-style: none;
  }

  &__left,
  &__right {
    display: flex;
    gap: 2rem;
  }

  &__hamburger-button {
    display: none;
  }
}

// phone & tablet
@media only screen and (max-width: 1000px) {
  .nav {
    &__left,
    &__right {
      display: none;
    }

    &__mobile {
      height: inherit;
      position: relative;
    }

    &__hamburger-button {
      display: block;
      position: absolute;
      right: 5%;
      top: 50%;
      transform: translateY(-50%);

      width: 5rem;
      height: 5rem;
    }
  }
}
