.nav__button {
  padding: 1rem;
  border: 1px solid green;
  min-width: 15rem;
  border-radius: 4px;
  font-size: 2.2rem;
  letter-spacing: 0.2rem;
  background: none;
}

.main-menu {
  &__sushi-btn,
  &__beverages-btn {
    padding: 0 1rem;
    width: 10rem;
    border: 2px solid black;
    border-radius: 5px;
    background: none;
  }
}

.main-home {
  &__cta {
    &-btn--offer,
    &-btn--menu {
      padding: 0 1rem;
      width: 10rem;
      border: 2px solid black;
      border-radius: 5px;
      background: none;
    }
  }
}
