.main-aboutus {
  @include main;
  flex-direction: column;
  gap: 9rem;
  padding: 4rem 10vw;

  img {
    width: 500px;
    border-radius: 3rem;
    box-shadow: 4px 4px 4px 3px rgba(0, 0, 0, 0.2);
  }

  &__section {
    display: flex;
    // flex-wrap: wrap;
    justify-content: center;
    gap: 14.5rem;

    //section 2
    &:nth-child(2) {
      img {
        box-shadow: 4px 4px 4px 3px rgba(0, 0, 0, 0.2);
      }
      //paragraph container
      & :last-child {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        width: 350px;
        order: -1;

        h4 {
          order: -1;
        }
      }
    }

    // section 3
    &:nth-child(3) {
      img {
        box-shadow: 4px 4px 4px 3px rgba(0, 0, 0, 0.2);
      }
      //paragraph container
      & :last-child {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 350px;
      }
    }
  }

  &__restaurant-img {
    max-height: 60rem;
    min-width: 100rem;
  }
}

@media only screen and (max-width: 1000px) {
  .main-aboutus {
    &__restaurant-img {
      min-width: 90vw;
    }

    &__section {
      gap: 5rem;
      flex-direction: column;

      //section 3
      &:nth-child(3) {
        //paragraph container
        & :last-child {
          order: -1;
          h4 {
            order: -2;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .main-aboutus {
    &__section {
      &:nth-child(3),
      &:nth-child(2) {
        img {
          height: 30rem;
          width: 36rem;
        }

        & :last-child {
          h4 {
            font-size: 2.4rem;
          }
          font-size: 1.4rem;
          margin: auto;
        }
      }
    }
  }
}
