.main-aboutus {
  @include main;
  flex-direction: column;
  gap: 9rem;
  padding: 4rem 10vw;

  img {
    width: 500px;
    border-radius: 3rem;
  }

  &__section {
    display: flex;
    gap: 14.5rem;

    //second section
    &:nth-child(2) {
      //paragraph container
      & :last-child {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        width: 350px;
        order: -1;

        h4 {
          order: -1;
        }
      }
    }

    //third section
    &:nth-child(3) {
      //paragraph container
      & :last-child {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 350px;
      }
    }
  }

  &__restaurant-img {
    max-height: 600px;
    min-width: 1000px;
  }
}
