.main-contact {
  @include main;
  gap: 15rem;

  &__info {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    h3 {
      margin-bottom: 0.8rem;
    }
  }

  &__img {
    width: 600px;
    border-radius: 3rem;
    box-shadow: 4px 4px 4px 3px rgba(0, 0, 0, 0.2);
  }
}
