.main-home {
  @include main;

  &__cta {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;

    &-img {
      width: 48rem;
      height: 48rem;

      border-radius: 3rem;
    }

    &-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 39rem;
      text-align: justify;
      gap: 1.4rem;
    }
  }
}

//*** PHONE & TABLET ***//

@media only screen and (max-width: 920px) {
  .main-home {
    &__cta {
      flex-direction: column;
      &-img {
        margin-top: 4rem;
        width: 40rem;
        height: 40rem;
      }
      &-content {
        width: 30rem;
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .main-home {
    &__cta {
      &-img {
        width: 90vw;
        height: 35rem;
      }
    }
  }
}
