.main-home {
  @include main;

  &__cta {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;

    &-img {
      width: 48rem;
      height: 48rem;

      border-radius: 3rem;
    }

    &-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 39rem;
      text-align: justify;
      gap: 1.4rem;
    }
  }
}
