.main-menu {
  @include main;
  flex-direction: column;
  gap: 3rem;

  &__categories {
    display: flex;
    // align-self: flex-end;
    margin: 2rem;
    gap: 2rem;
  }

  &__items {
    padding: 2rem;
    &-sushi,
    &-beverages {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 6rem;
    }
  }

  &__item {
    width: 420px;
    height: 390px;
    transition: 0.2s;
    // &:hover {
    //   transform: scale(1.05);
    //   cursor: pointer;
    //   filter: brightness(115%);
    // }

    &-container {
      position: relative;
      height: 390px;
      border-radius: 2rem;
      overflow: hidden;
      transition: 0.2s;

      &:hover {
        transform: scale(1.05);
        cursor: pointer;
        filter: brightness(115%);
      }
    }

    &-info {
      display: flex;
      justify-content: space-between;
      align-items: center;

      position: absolute;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 3);
      opacity: 0.7;

      @keyframes infoAnimEnter {
        from {
          height: 0;
        }

        to {
          height: 100px;
        }
      }

      @keyframes infoAnimLeave {
        from {
          height: 100px;
        }

        to {
          height: 0px;
          display: none;
        }
      }

      .item-info__ {
        &name,
        &price {
          // opacity: 1
          margin: 0 1rem;
          border: 2px solid $primary;
          border-radius: 1rem;
          text-align: center;
          font-size: 0;
          color: white;
        }

        @keyframes infoAnimChildEnter {
          from {
            padding: 0rem;
            font-size: 0;
          }

          to {
            font-size: 1.6rem;
            padding: 1rem;
          }
        }

        @keyframes infoAnimChildLeave {
          0% {
            font-size: 1.6rem;
          }

          80% {
            font-size: 0;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .main-menu {
    &__items {
      &-sushi,
      &-beverages {
        grid-template-columns: 1fr 1fr;
      }
    }

    &__item {
      width: 320px;
      height: 320px;
    }
  }
}

@media only screen and (max-width: 660px) {
  .main-menu {
    &__items {
      &-sushi,
      &-beverages {
        grid-template-columns: 1fr;
      }
    }
  }
}
