.main-menu {
  @include main;
  flex-direction: column;
  gap: 3rem;

  &__categories {
    display: flex;
    margin: 2rem;
    gap: 2rem;
  }

  &__items {
    padding: 2rem;

    &-sushi,
    &-beverages {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 4rem;
    }
  }

  &__item {
    width: 420px;
    height: 390px;
    transition: 0.2s;

    &-container {
      position: relative;
      display: flex;
      justify-content: center;

      border-radius: 2rem;
      overflow: hidden;
      transition: 0.2s;
      box-shadow: 4px 4px 4px 3px rgba(0, 0, 0, 0.2);

      &:hover {
        transform: scale(1.05);
        box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        filter: brightness(115%);
      }
    }

    &-info {
      display: flex;
      justify-content: space-between;
      align-items: center;

      position: absolute;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 3);
      opacity: 0.7;

      @keyframes infoAnimEnter {
        from {
          height: 0;
        }

        to {
          height: 100px;
        }
      }

      @keyframes infoAnimLeave {
        from {
          height: 100px;
        }

        to {
          height: 0px;
          display: none;
        }
      }

      .item-info__ {
        &name,
        &price {
          margin: 0 1rem;
          border-radius: 1rem;
          text-align: center;
          font-size: 0;
          color: white;
        }

        @keyframes infoAnimChildEnter {
          from {
            padding: 0rem;
            font-size: 0;
            border: none;
          }

          to {
            font-size: 1.6rem;
            padding: 1rem;
            border: 3px solid $primary;
          }
        }

        @keyframes infoAnimChildLeave {
          0% {
            font-size: 1.6rem;
          }

          80% {
            font-size: 0;
            border: none;
          }
        }
      }
    }
  }
}

//*** PHONE & TABLET ***//

@media only screen and (max-width: 1000px) {
  .main-menu {
    &__items {
      &-sushi,
      &-beverages {
        grid-template-columns: 1fr 1fr;
      }
    }

    &__item {
      &-container {
        // width: 390px;
        // height: 380px;
      }
    }
  }
}

@media only screen and (max-width: 660px) {
  .main-menu {
    &__items {
      &-sushi,
      &-beverages {
        grid-template-columns: 1fr;
      }
    }
  }
}
